html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --light-black: #22282b;
  --dark-grey: #494747;
  --light-grey: #f4f5f6;
  --light-blue: #44a7de; /*rgba(68, 167, 222, )*/
  --puple: #9b47e7;
  --yellow: #ff9600;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-grey);
  font-style: normal;
  font-weight: 400;
  background-color: var(--white);
  min-width: 1220px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 211px);
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

img {
  max-width: 100%;
}

.block-container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  border-bottom: 1px solid rgba(68, 167, 222, 0.5);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  height: 90px;
}

.navigation__item {
  text-transform: uppercase;
  color: var(--dark-grey);
  padding: 15px;
  margin: 7px;
}

.contacts {
  list-style: none;
  text-align: right;
  font-size: 14px;
}

.contacts__item a {
  color: var(--dark-grey);
}

.contacts--footer {
  text-align: left;
  font-size: 18px;
  color: var(--white);
  padding: 0;
}

.contacts--footer a {
  color: var(--white);
}

.lang {
  display: flex;
  list-style: none;
}

.lang__item {
  border: 1px solid var(--light-blue);
}

.lang__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  color: var(--light-blue);
  font-size: 16px;
}

.lang__item--active .lang__link {
  color: var(--white);
  background-color: var(--light-blue);
}

.promo {
  background-image: url(../img/promo-background.png), linear-gradient(to top, var(--light-grey) 0%, var(--white) 100%);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 30px 0 60px 0;
}

.button {
  display: inline-flex;
  position: relative;
}

.button:after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: 1;
  background: linear-gradient(to right, var(--light-blue), var(--puple), var(--yellow));
}

.button--white:after {
  display: none;
}

.button__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 80px;
  text-align: center;
  background: var(--puple);
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
  z-index: 2;
  border: 7px solid var(--white);
}

.button--white {
  border: 7px solid transparent;
  outline: 3px solid var(--white);
}

.button--white .button__link {
  width: 380px;
  height: 60px;
  background: var(--white);
  color: var(--puple);
}

.icons {
  height: 640px;
}

.icons__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.advantages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0 auto;
}

.advantages__item {
  position: relative;
  width: calc((100% - 40px)/3);
  height: 260px;
}

.advantages__line {
  position: absolute;
  bottom: 0;
  left: 0;
}

.advantages__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.advantages__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-blue);
}

.advantages__text {
  line-height: 26px;
  padding: 34px 70px 35px 48px;
  margin: 0;
}

.advantages__link {
  padding: 0 70px 0 48px;
}

.action {
  margin-top: auto;
  height: 290px;
  background: linear-gradient(to right, var(--puple), var(--yellow));
}

.action__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button--action {
  margin: 0 auto;
}

.footer {
  background-color: var(--light-black);
}

.footer__container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@keyframes player-dash {
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.hockey-player {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation-name: player-dash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0.3s;
}



