html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #484747;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
}

.main-container {
  min-height: calc(100vh - 285px);
}

a {
  text-decoration: none;
  color: #484747;
}

img {
  max-width: 100%;
}

.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /*align-items: flex-end;*/
}

.sportsoft-logo {
  width: 450px;
  height: 150px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__item {
  display: block;
  padding: 0 30px;
  outline: none;
}

.navigation__text {
  font-size: 26px;
  line-height: 39px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

.navigation__text:hover {
  color: #44a7de;
}

/*.navigation__text::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #44a7de;
}

.navigation__text:hover::after {
  display: block;
}*/

/*.navigation--left {
  margin-bottom: 48px;
}

.navigation--right {
  margin-bottom: 38px;
}*/

.sportsoft-description {
  width: 100%;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.promo {
  width: 1200px;
  height: 700px;
  margin: 0 auto 80px auto;
  position: relative;
}

.promo__step {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  margin-left: -150px;
  left: 50%;
  width: 300px;
  height: 150px;
  background-color: #44a7de;
  border-radius: 25px;
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__step-lead {
  font-size: 25px;
  line-height: 38px;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes player-dash {
  from {
    stroke-dashoffset: 400000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes ball-dash {
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes cup-dash {
  from {
    stroke-dashoffset: 100000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes tennis-dash {
  from {
    stroke-dashoffset: 200000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes notebook-dash {
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes phone-dash {
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shuttle-dash {
  from {
    stroke-dashoffset: 100000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes stick-dash {
  from {
    stroke-dashoffset: 100000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes basket-dash {
  from {
    stroke-dashoffset: 15000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.boot-skew {
  position: absolute;
  transform: scale(-1, 1);
  right: 12%;
  top: 4%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-name: dash;
  animation-duration: 18s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.svg-player {
  stroke-dasharray: 400000;
  stroke-dashoffset: 400000;
  animation-name: player-dash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0.3s;
}

.svg-cup {
  position: absolute;
  right: 50%;
  bottom: 40px;
  stroke-dasharray: 100000;
  stroke-dashoffset: 100000;
  animation-name: cup-dash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.cup {
  position: absolute;
  right: 32%;
  bottom: 10%;
}

.player {
  position: absolute;
  left: 0;
  top: 0;
}

.shuttle {
  position: absolute;
  left: 35%;
  bottom: 20px;
}

.svg-tennis-girl {
  stroke-dasharray: 200000;
  stroke-dashoffset: 200000;
  animation-name: tennis-dash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}

.svg-notebook {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation-name: notebook-dash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.svg-phone {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation-name: phone-dash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.svg-shuttle {
  stroke-dasharray: 100000;
  stroke-dashoffset: 100000;
  animation-name: shuttle-dash;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

.svg-stick {
  stroke-dasharray: 100000;
  stroke-dashoffset: 100000;
  animation-name: stick-dash;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.svg-basket {
  stroke-dasharray: 15000;
  stroke-dashoffset: 15000;
  animation-name: basket-dash;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.notebook {
  position: absolute;
  left: 5%;
  bottom: 0;
  transform: rotate(-20deg);
}

.phone {
  position: absolute;
  right: 26%;
  top: 40%;
  transform: rotate(-10deg);
}

.tennis {
  position: absolute;
  right: 40px;
  bottom: 0;
}

.stick {
  position: absolute;
  right: 29%;
  top: 6%;
  transform: rotate(10deg);
}

.basket {
  position: absolute;
  left: 30%;
  top: 8%;
  transform: rotate(-30deg);
}

.advantages__list {
  width: 900px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.advantages__item {
  width: 285px;
  height: 230px;
  border: 3px solid #44a7de;
  padding: 15px;
  position: relative;
}

.advantages__link {
  display: flex;
  text-align: center;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 26px;
  padding: 35px 15px 15px 15px;
}

.advantages__link:hover {
  background-color: #44a7de;
  color: #ffffff;
  transition: background-color 0.5s ease-out;
}

.advantages__title {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.advantages__title-text {
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #ffffff;
  font-weight: 500;
}

.projects-index {
  width: 900px;
  margin: 0 auto 50px auto;
}

.tile {
  display: flex;
  height: 300px;
}

.tile__panel {
  break-inside: avoid;
  width: calc((100% - 10px)/3);
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
}

.tile__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-shrink: 0;
  text-align: center;
  color: #ffffff;
  background-color: #44a7de;
}

.tile__link-1 {
  width: 100%;
  height: 100%;
  font-size: 100px;
}

.tile__link-1:hover {
  background: linear-gradient(to top right, #E05140, #F16529);
}

.tile__link-2 {
  width: calc(50% - 2.5px);
  height: calc(100%*2/3 - 2.5px);
  margin: 0 5px 5px 0;
  font-size: 33px;
  line-height: 35px;
}

.tile__link-2:hover {
  background: linear-gradient(to top right, #11998e, #38ef7d);
}

.tile__link-3 {
  width: calc(50% - 2.5px);
  height: calc(100%*2/3 - 2.5px);
  font-size: 33px;
  line-height: 35px;
}

.tile__link-3:hover {
  background: linear-gradient(to top right, #00d2ff, #3a7bd5);
}

.tile__link-4 {
  width: 100%;
  height: calc(100%*1/3 - 2.5px);
  font-size: 33px;
  line-height: 35px;
}

.tile__link-4:hover {
  background: linear-gradient(to top right, #ffc500, #f7b733);
}

.tile__link-5 {
  width: calc((100% - 10px)/3);
  height: calc(100%*1/3 - 2.5px);
  margin: 0 5px 5px 0;
  font-size: 21px;
  line-height: 24px;
}

.tile__link-5:hover {
  background: linear-gradient(to top right, #FC466B, #3F5EFB);
}

.tile__link-6 {
  width: calc((100% - 10px)/3);
  height: calc(100%*1/3 - 2.5px);
  margin: 0 5px 5px 0;
  font-size: 33px;
  line-height: 35px;
}

.tile__link-6:hover {
  background: linear-gradient(to top right, #141e30, #243b55);
}

.tile__link-7 {
  width: calc((100% - 10px)/3);
  height: calc(100%*1/3 - 2.5px);
  font-size: 24px;
  line-height: 27px;
}

.tile__link-7:hover {
  background: linear-gradient(to top right, #007991, #78ffd6);
}

.tile__link-8 {
  width: 100%;
  height: calc(100%*2/3 - 2.5px);
  font-size: 35px;
  line-height: 40px;
}

.tile__link-8:hover {
  background: linear-gradient(to top right, #2a0a49, #1f4ba0);
}

.tile__link:hover {
  color: #ffffff;
  border: none;
  transition: background 0.5s linear;
}

.subtitle {
  width: 100%;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.footer {
  min-height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.services {
  width: 900px;
  margin: 40px auto 50px auto;
  display: flex;
  justify-content: space-between;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__half {
  width: 48%;
  border: 3px solid #44a7de;
  padding: 50px 30px 50px 30px;
  position: relative;
}

.services__title {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.services__title-text {
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #ffffff;
  font-weight: 500;
}

.services__item {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-left: 25px;
  position: relative;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 10px;
  background-color: #44a7de;
  transform: rotate(45deg);
}

.process {
  width: 850px;
  margin: 0 auto 50px auto;
}

.process__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.process__item {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.process__item--even {
  justify-content: flex-end;
}

/*@keyframes talk-dash {
  from {
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-talk {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation-name: talk-dash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}*/

.process__content {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 30px;
  width: 560px;
}

.process__item--even .process__content {
  padding: 10px 30px 0 0;
}

.process__title {
  font-size: 28px;
  line-height: 30px;
  color: #44a7de;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.process__text {
  font-size: 25px;
  line-height: 27px;
  margin: 0 0 15px 0;
  text-align: justify;
}

.process__item--even .process__content {
  align-items: flex-end;
}

.magic {
  transform: scale(-1, 1);
}

.process__tag {
  font-size: 16px;
  line-height: 16px;
  padding: 2px 10px;
  background-color: #44a7de;
  color: #ffffff;
  margin-right: 10px;
  border-radius: 4px;
}

.mission {
  width: 900px;
  margin: 40px auto 30px auto;
  position: relative;
  border: 3px solid #44a7de;
}

.mission__title {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.mission__title-text {
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #ffffff;
  font-weight: 500;
}

.mission__text {
  padding: 30px;
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  text-align: justify;
}

.company-info {
  width: 900px;
  margin: 0 auto 30px auto;
  padding: 0 30px;
}

.company-info {
  column-count: 3;
  column-gap: 40px;
}

.company-info__item {
  break-inside: avoid;
}

.company-info__item p {
  margin: 0 0 15px 0;
  font-size: 21px;
  line-height: 23px;
  text-align: justify;
}

.main-color {
  color: #44a7de;
}

.projects {
  width: 950px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  display: flex;
  width: 300px;
  height: 200px;
  margin: 8px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: steelblue;
  background-blend-mode: luminosity;
  background-size: cover;
}

.projects__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s;
}

.projects__item:after {
  content: attr(data-name);
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  opacity: 1;
  transition: all 0.7s;
  text-align: center;
}

.projects__item:hover:after {
  opacity: 0;
}

.projects__item:hover:before {
  opacity: 1;
}
