html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --light-black: #22282b;
  --dark-grey: #494747;
  --light-grey: #f4f5f6;
  --light-blue: #44a7de; /*rgba(68, 167, 222, )*/
  --puple: #9b47e7;
  --yellow: #ff9600;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark-grey);
  font-style: normal;
  font-weight: 400;
  background-color: var(--white);
  min-width: 1220px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 211px);
}

a {
  text-decoration: none;
  color: var(--light-blue);
  outline: none;
}

img {
  max-width: 100%;
}

.block-container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  border-bottom: 1px solid rgba(68, 167, 222, 0.5);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  height: 90px;
}

.sportsoft-logo {
  margin: 0 auto 0 0;
}

.sportsoft-logo--footer {
  margin: 0;
}

.navigation__item {
  text-transform: uppercase;
  color: var(--dark-grey);
  padding: 15px;
  margin: 7px;
}

.contacts {
  list-style: none;
  text-align: right;
  font-size: 14px;
  padding: 0 0 0 110px;
}

.contacts__item a {
  color: var(--dark-grey);
}

.contacts--footer {
  text-align: left;
  font-size: 18px;
  color: var(--white);
  padding: 0;
}

.contacts--footer a {
  color: var(--white);
}

.socials {
  display: flex;
}

.socials__item {
  display: block;
  padding: 15px;
  margin: 0 15px;
}

.lang {
  display: flex;
  list-style: none;
  padding: 0 0 0 25px;
}

.lang__item {
  border: 1px solid var(--light-blue);
}

.lang__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  color: var(--light-blue);
  font-size: 16px;
}

.lang__item--active .lang__link {
  color: var(--white);
  background-color: var(--light-blue);
}

.promo {
  background-image: url(../img/promo-background.png), linear-gradient(to top, var(--light-grey) 0%, var(--white) 100%);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 30px 0 60px 0;
}

.button {
  display: inline-flex;
  position: relative;
}

.button:after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: 1;
  background: linear-gradient(to right, var(--light-blue), var(--puple), var(--yellow));
}

.button--white:after {
  display: none;
}

.button__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 80px;
  text-align: center;
  background: var(--puple);
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
  z-index: 2;
  border: 7px solid var(--white);
}

.button--white {
  border: 7px solid transparent;
  outline: 3px solid var(--white);
}

.button--white .button__link {
  width: 380px;
  height: 60px;
  background: var(--white);
  color: var(--puple);
}

.icons {
  height: 640px;
}

.icons__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.advantages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0 auto;
}

.advantages__item {
  position: relative;
  width: calc((100% - 40px)/3);
  height: 260px;
}

.advantages__line {
  position: absolute;
  bottom: 0;
  left: 0;
}

.advantages__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.advantages__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-blue);
}

.advantages__text {
  padding: 34px 70px 35px 48px;
}

.advantages__link {
  padding: 0 70px 0 48px;
  z-index: 2;
  position: relative;
}

.action {
  margin-top: auto;
  height: 290px;
  background: linear-gradient(to right, var(--puple), var(--yellow));
}

.action__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button--action {
  margin: 0 auto;
}

.footer {
  background-color: var(--light-black);
}

.footer__container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Страница "Услуги */

.services {
  background-image: linear-gradient(to top, var(--light-grey) 0%, var(--white) 100%);
}

.services__container {
  padding: 30px 20px 45px 20px;
}

.services__head {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.services__body {
  display: flex;
  justify-content: space-between;
}

.services__half {
  width: calc((100% - 20px)/2);
  height: 295px;
  position: relative;
}

.services__title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-blue);
}

.services__list {
  list-style: none;
  padding: 35px 125px 30px 65px;
}

.services__item {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 0 25px 0;
}

.services__item:before {
  position: absolute;
  content: "";
  display: inline-block;
  background-color: var(--light-blue);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 10px;
  left: 0;
}

.services__line {
  position: absolute;
  bottom: 0;
  left: 0;
}

.process {
  padding: 0 50px;
}

.process__head {
  font-size: 30px;
  line-height: 30px;
  padding: 40px 0 30px 0;
  color: var(--light-blue);
  text-transform: uppercase;
  text-align: center;
}

.process__item {
  display: flex;
  align-items: center;
  padding: 50px 0;
  position: relative;
}

.process__item--even {
  justify-content: flex-end;
}

.process__title {
  font-size: 30px;
  line-height: 35px;
  color: var(--light-blue);
  font-weight: 700;
  margin: 0 0 20px 0;
}

.process__item--even .process__title,
.process__item--even .process__text {
  text-align: right;
}

.process__content {
  margin: 0 40px;
}

.process__icon {
  flex-shrink: 0;
}

.process__line-top {
  position: absolute;
  top: -10px;
  left: 56px;
}

.process__line {
  position: absolute;
  top: -23px;
  left: 50%;
  margin-left: -500px;
}

.process__item--odd .process__line {
  transform: scale(1, -1);
}

/* О нас */

.company {
  background-image: url(../img/promo-background.png);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 0 50px 0;
}

.company__head {
  font-size: 20px;
  text-transform: uppercase;
  margin: 30px 0;
  font-weight: 400;
  text-align: center;
}

.company__mission {
  position: relative;
  margin: 0 0 30px 0;
  height: 195px;
}

.company__mission-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: var(--light-blue);
  text-transform: uppercase;
  text-align: center;
}

.company__mission-text {
  padding: 30px 45px;
}

.company__mission-line {
  position: absolute;
  bottom: 0;
  left: 0;
}

.company__info {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 50px 0 70px 0;
}

.company__item {
  display: flex;
  align-items: center;
  width: auto;
}

.company__icon {
  flex-shrink: 0;
  margin: 0 35px 0 0;
}

.company__item a {
  display: block;
  color: var(--dark-grey);
}

a.company__social {
  color: var(--light-blue);
}

.company__text p {
  margin: 0 0 30px 0;
}

.tabs__navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 60px 0;
}

.tabs__item {
  border: 1px solid var(--light-blue);
}

.tabs__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 60px;
  color: var(--light-blue);
  font-size: 26px;
}

.tabs__item--active .tabs__link {
  color: var(--white);
  background-color: var(--light-blue);
}

/* Новости */

.blog {
  background-image: url(../img/promo-background.png);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 0 50px 0;
}

.blog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.blog__item {
  width: 380px;
  margin: 0 20px 60px 0;
}

.blog__item:nth-child(3n) {
  margin: 0 0 60px 0;
}

.blog__picture {
  position: relative;
  opacity: 0.6;
  width: 380px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog__img {
  display: block;
  width: 380px;
  height: 220px;
  clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
}

/*.blog__item:hover .blog__img {
  width: 366px;
  height: 206px;
}*/

.blog__item:hover .blog__picture {
  opacity: 1;
  transition: all 1s;
}

.blog__picture:after {
  display: block;
  content: "";
  position: absolute;
  width: 380px;
  height: 220px;
  top: -7px;
  bottom: -7px;
  right: -7px;
  left: -7px;
  background-image: url("../img/frame.svg");
  background-repeat: no-repeat;
  opacity: 0;
}

.blog__item:hover .blog__picture:after {
  opacity: 1;
  transition: all 1s;
}

.blog__content {
  margin: 20px 0 0 0;
}

.blog__date {
  font-size: 15px;
  line-height: 20px;
  color: var(--puple);
}

.blog__title {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
  margin: 5px 0 10px 0;
}

.blog__title:hover {
  color: var(--light-blue);
  transition: all 0.5s;
}

.blog__lead {
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
}

.blog__main-img {
  display: block;
  margin: 0 auto 20px auto;
}

.blog__main-date {
  color: var(--puple);
  text-align: center;
}

.blog__main-title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0 20px 0;
}

/* Новость */

.news {
  background-image: url(../img/promo-background.png);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 50px 0 50px 0;
}

.news__container {
  display: flex;
  justify-content: space-between;
}

.news__main {
  width: 70%;
}

.news__sidebar {
  width: 27%;
}

.news__sidebar-list {
  list-style: none;
}

.news__img {
  display: block;
  margin: 0 auto 20px auto;
  clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
}

.news__date {
  color: var(--puple);
}

.news__title {
  font-size: 30px;
  line-height: 30px;
  margin: 10px 0 20px 0;
}

.news__sidebar-title {
  padding: 10px 5px;
  text-transform: uppercase;
  color: var(--light-blue);
}

.news__sidebar-link {
  display: block;
  line-height: 22px;
  color: var(--dark-grey);
  padding: 15px 5px;
  border-bottom: 1px solid rgba(68, 167, 222, 0.5);
}

.news__sidebar-item:last-child .news__sidebar-link {
  border-bottom: 0;
}

.news__sidebar-link:hover {
  color: var(--light-blue);
  transition: all 0.5s;
}

@keyframes player-dash {
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.hockey-player {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation-name: player-dash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0.3s;
}



